body{
    background:#f7f7f7
}
.navigation {
   justify-content: center;
   display: flex;
   line-height: 5em;
    margin-bottom: 4em;
}
#nav-list li {
    display: inline-block;
    font-size: 18px;
    margin: 20px;
    vertical-align:bottom;
    line-height:normal;

}
.logo-img {
    width: 30%;
    position: absolute;
    left:8em;
    top:2em;
    margin: 0px 15px 15px 0px;
}
ul{
    text-decoration:none
}
#nav-list li{
    display:inline-block;
    font-size:18px;
    margin:0.8em;
    vertical-align:bottom;
    line-height:normal
}
.p-head{
    text-align:center;
    font-size:40px;
    color:#fff;
    font-family:Fruktur,serif
}
.a-head{
    font-size:1.2em;
    text-decoration:none;
    color:#ffbd59;
    padding:2em;
    font-family:Fruktur,serif
}
.page{
    position:relative;
    overflow:hidden;
    min-height:100vh!important
}
.page .text-primary{
    color:#ffbd59;
    font-family:Fruktur
}
.text-base{
    color:#fff!important
}
.cover-title{
    font-size:3.2rem!important;
    background-color:#f8f8ff;
    border-radius:1rem
}
.text-base-dark{
    color:#383838!important
}
a,button{
    padding:0
}
a:focus,button:focus{
    outline:0!important
}
:focus{
    outline:0
}
button{
    outline:0
}
p{
    margin:0
}
ul{
    list-style:none;
    padding:0;
    margin:0
}
ul li{
    display:block
}
html p a:hover{
    text-decoration:none
}
img{
    display:inline-block;
    max-width:100%;
    height:auto
}
section{
    position:relative
}
.bg-gray-darker,.bg-image,.context-dark{
    color:#fff
}
.bg-image [class^=heading-],.context-dark h2,.context-dark h3{
    color:#161616db;
    font-family:Fruktur,serif
}
.bg-image .breadcrumbs-custom-title::after,.bg-image .breadcrumbs-custom-title::before{
    background:#fff
}
.context-dark .box-minimal-border .box-minimal-title{
    color:#fff
}
.context-dark .box-minimal-border .box-minimal-text{
    color:rgba(255,255,255,.6)
}
.context-dark .box-minimal-border:hover{
    background:#fff;
    border-color:#fff;
    transition:.4s all ease
}
.context-dark .box-minimal-border:hover .box-minimal-title{
    color:#29293a;
    transition:.4s all ease
}
.context-dark .box-minimal-border:hover .box-minimal-text{
    color:rgba(41,41,58,.6);
    transition:.4s all ease
}
.context-dark .button-default-outline,.context-dark .button-default-outline:focus{
    color:#fff;
    background-color:transparent;
    border-color:#fff
}
.context-dark .button-default-outline:active,.context-dark .button-default-outline:hover{
    color:#fff;
    background-color:#fab82b;
    border-color:#fab82b
}
.bg-default{
    background-color:#fff;
    fill:#fff
}
.bg-gray-darker{
    background-color:#3f4445;
    fill:#3f4445
}
.bg-image{
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
    z-index:1
}
[class*=bg-]{
    background-size:cover;
    background-position:center center
}
.bg-primary{
    background:orange
}
.bg-gray-darker{
    background:#3f4445
}
.box-minimal{
    max-width:390px
}
.box-minimal *+p{
    margin-top:15px
}
.box-minimal-title{
    color:#29293a
}
.box-minimal-text{
    color:#838386
}
*+.box-minimal-text{
    margin-top:22px
}
.box-minimal-border{
    padding:20px 15px;
    border-radius:8px;
    border:1px solid #fff;
    transition:450ms ease-in-out
}
.box-minimal-border .box-minimal-title{
    font-weight:400
}
.box-minimal-border:hover{
    background:#f2f3f9;
    border-color:#f2f3f9
}
@media (min-width:992px){
    .box-minimal-border{
        padding:40px 25px 45px;
        min-height:365px
    }
}
@media (min-width:1200px){
    .box-minimal-border{
        padding:40px 35px 45px
    }
}
@media (min-width:1600px){
    .box-minimal-border{
        padding:40px 45px 45px
    }
}
.box-inline{
    margin-left:-7px;
    display:table;
    text-align:left
}
.copy{
    font-weight:bolder;
    font-family:Fruktur!important
}
.box-inline a{
    color:#29293a
}
.box-inline a:hover{
    color:#fab82b
}
.box-inline>*{
    display:table-cell;
    vertical-align:top;
    padding:0 6px
}
@media (min-width:1200px){
    .box-range-content{
        max-width:570px;
        margin-left:auto;
        margin-right:auto
    }
}
.box-video-media{
    position:relative;
    display:inline-block
}
.box-video-link{
    position:absolute;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    line-height:0
}
.box-video-link a{
    font-size:100px;
    color:#fff
}
.breadcrumbs-custom{
    position:relative;
    z-index:1;
    padding:35px 0 80px;
    vertical-align:middle;
    text-align:center
}
.breadcrumbs-custom>.container{
    position:relative;
    z-index:2
}
.breadcrumbs-custom-title{
    position:relative;
    display:inline-block;
    padding:0 20px;
    text-transform:uppercase
}
@media (max-width:767.98px){
    .breadcrumbs-custom-title{
        font-size:26px
    }
}
@media (min-width:768px){
    .breadcrumbs-custom{
        padding:70px 0 130px
    }
}
@media (min-width:1200px){
    .breadcrumbs-custom{
        padding:154px 0 170px
    }
}
.button{
    position:relative;
    display:inline-block;
    max-width:100%;
    padding:9px 30px;
    min-width:210px;
    font-size:17px;
    font-family:Oswald,Helvetica,Arial,sans-serif;
    font-weight:400;
    letter-spacing:.12em;
    text-transform:uppercase;
    border:1px solid;
    border-radius:35px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    user-select:none;
    transition:.25s all ease;
    white-space:pre-wrap
}
.button:active,.button:active:focus,.button:focus{
    outline:0
}
@media (min-width:768px){
    .button{
        padding:14px 38px
    }
}
@media (min-width:992px){
    .button{
        min-width:230px
    }
}
.button-secondary,.button-secondary:focus{
    color:#fff;
    background-color:#fab82b;
    border-color:#fab82b
}
.button-secondary:active,.button-secondary:hover{
    color:#fff;
    background-color:#f8cf67;
    border-color:#f8cf67
}
.button-default-outline,.button-default-outline:focus{
    color:#f8cf67;
    background-color:#fff;
    border-color:#d1d1d1
}
.button-default-outline:active,.button-default-outline:hover{
    color:#fff;
    background-color:#fab82b;
    border-color:#fab82b
}
.button-sm{
    min-width:170px;
    padding:8.8px 28px;
    font-size:14px;
    line-height:24px
}
@media (min-width:768px){
    .button-sm{
        padding:11px 35px
    }
}
@media (min-width:1200px){
    .button-sm{
        min-width:190px
    }
}
@media (min-width:1600px){
    .button-sm{
        font-size:17px
    }
}
.button-nina{
    position:relative;
    overflow:hidden;
    line-height:1;
    transition:background .3s 10ms,border-color .3s .01s
}
.box-cta{
    font-size:18px;
    color:#fff;
    margin-left:-20px;
    margin-right:-20px
}
.box-cta>*{
    padding-left:20px;
    padding-right:20px
}
.box-cta-title{
    color:#fff
}
.box-cta-title+*{
    margin-top:20px
}
.box-cta .button{
    font-weight:600
}
.box-cta-inline>*+*{
    margin-top:30px
}
@media (min-width:768px){
    .box-cta-inline{
        display:flex;
        align-items:center;
        justify-content:space-between
    }
}
@media (min-width:768px){
    .box-cta{
        font-size:19px
    }
}
@media (min-width:1600px){
    .box-cta{
        font-size:24px
    }
}
.page-footer-minimal{
    padding:55px 0
}
a{
    color:#fab82b;
    text-decoration:none;
    transition:.25s
}
a:focus,a:hover{
    color:#fab82BFF;
    text-decoration:none;
    outline:0
}
a[href*=mailto],a[href*=tel]{
    white-space:nowrap
}
.list-inline>li{
    display:inline-block;
    padding-left:5px;
    padding-right:5px
}
body{
    font-famil:Lato,Helvetica,Arial,sans-serif;
    font-weight:300;
    font-size:15px;
    line-height:1.6;
    color:#838386;
    background-color:#fff;
    -webkit-text-size-adjust:none;
    -webkit-font-smoothing:subpixel-antialiased
}
@media (min-width:992px){
    body{
        font-size:16px;
        line-height:1.55556
    }
}
@media (min-width:1600px){
    body{
        font-size:18px;
        letter-spacing:.02em
    }
}
[class^=heading-],h2,h3{
    margin-top:0;
    margin-bottom:0;
    font-family:Oswald,Helvetica,Arial,sans-serif;
    font-weight:700;
    text-transform:uppercase;
    color:#29293a
}
.heading-2,h2{
    font-size:30px;
    line-height:1.2;
    font-weight:700;
    text-transform:none
}
@media (min-width:768px){
    .heading-2,h2{
        font-size:38px;
        line-height:1.2
    }
}
@media (min-width:1200px){
    .heading-2,h2{
        font-size:46px
    }
}
@media (min-width:1600px){
    .heading-2,h2{
        font-size:55px
    }
}
.heading-2{
    font-weight:300
}
h3{
    font-size:24px;
    line-height:1.45;
    letter-spacing:.1px
}
@media (min-width:768px){
    h3{
        font-size:28px
    }
}
@media (min-width:1200px){
    h3{
        font-size:34px;
        line-height:1.46667
    }
}
@media (min-width:1600px){
    h3{
        font-size:45px
    }
}
.heading-5{
    font-family:Lato,Helvetica,Arial,sans-serif;
    font-weight:400;
    font-size:19px;
    line-height:1.5;
    text-transform:none
}
@media (min-width:768px){
    .heading-5{
        line-height:1.41667
    }
}
@media (min-width:1600px){
    .heading-5{
        font-size:24px
    }
}
.heading-5{
    font-weight:300
}
.novi-bg-img{
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat
}
.text-left{
    text-align:left
}
.text-center{
    text-align:center
}
@media (min-width:992px){
    html:not(.lt-ie10) .text-md-left{
        text-align:left
    }
    html:not(.lt-ie10) .text-md-right{
        text-align:right
    }
}
.bg-gray-darker.page-footer{
    color:#fff
}
.bg-gray-darker.page-footer-minimal .logo-default{
    display:none
}
.bg-gray-darker.page-footer-minimal .logo-inverse{
    display:inline-block
}
.text-bold{
    font-weight:700
}
.text-spacing-sm{
    letter-spacing:.02em
}
.section-lg,.section-md,.section-xl{
    padding:60px 0
}
@media (min-width:768px){
    .section-md{
        padding-top:60px;
        padding-bottom:60px
    }
    .section-lg{
        padding-top:80px;
        padding-bottom:80px
    }
    .section-xl{
        padding-top:100px;
        padding-bottom:100px
    }
}
@media (min-width:992px){
    .section-xl{
        padding-top:120px;
        padding-bottom:120px
    }
}
@media (min-width:1200px){
    .section-md{
        padding-top:100px;
        padding-bottom:100px
    }
    .section-lg{
        padding-top:80px;
        padding-bottom:80px
    }
    .section-xl{
        padding-top:130px;
        padding-bottom:130px
    }
}
@media (min-width:1600px){
    .section-lg{
        padding-top:140px;
        padding-bottom:125px
    }
    .section-xl{
        padding-top:165px;
        padding-bottom:165px
    }
}
@media (min-width:1800px){
    .section-xl{
        padding-top:160px;
        padding-bottom:160px
    }
}
.section-wrap{
    position:relative;
    overflow:hidden
}
.section-wrap .section-wrap-inner{
    display:flex;
    flex-wrap:wrap;
    margin-bottom:-35px;
    width:100%
}
.section-wrap .section-wrap-inner:empty{
    margin-bottom:0
}
.section-wrap .section-wrap-inner>*{
    margin-bottom:35px;
    width:100%
}
.section-wrap .section-wrap-aside{
    bottom:-1px
}
.section-wrap .section-wrap-image{
    position:relative;
    top:0;
    overflow:hidden;
    height:300px
}
.section-wrap .section-wrap-image img{
    position:absolute;
    height:auto;
    min-width:100%;
    min-height:100%;
    max-width:none;
    top:30%;
    left:50%;
    transform:translate(-50%,-30%)
}
@media (min-width:768px){
    .section-wrap .section-wrap-image{
        height:500px
    }
}
@media (min-width:992px){
    .section-wrap .section-wrap-aside{
        height:100%;
        position:absolute;
        top:0;
        right:0;
        width:calc(50% - 190px)
    }
    .section-wrap .section-wrap-aside img{
        height:100%;
        width:100%;
        border-radius:1.5rem
    }
}
@media (min-width:992px){
    .section-wrap.section-wrap-equal .section-wrap-aside{
        width:50%
    }
}
@media (min-width:1200px){
    .section-wrap .section-wrap-aside{
        width:calc(50% - 160px)
    }
    .section-wrap.section-wrap-equal .section-wrap-aside{
        width:50%
    }
}
@media (min-width:1600px){
    .section-wrap .section-wrap-aside{
        width:calc(50% - 260px)
    }
}
@media (min-width:992px){
    .section-wrap.section-lg-reverse .section-wrap-inner{
        -ms-flex-flow:row-reverse wrap-reverse;
        flex-flow:row-reverse wrap-reverse
    }
    .section-wrap.section-lg-reverse .section-wrap-aside{
        left:0;
        right:auto
    }
}
*+p{
    margin-top:15px
}
p+p{
    margin-top:12px
}
h2+p{
    margin-top:20px
}
h3+p{
    margin-top:15px
}
.heading-5+p{
    margin-top:20px
}
p+.button{
    margin-top:25px
}
*+.button{
    margin-top:20px
}
*+.box-inline{
    margin-top:25px
}
h2+.heading-5{
    margin-top:20px
}
.breadcrumbs-custom+.section{
    margin-top:-30px
}
@media (min-width:1200px){
    .breadcrumbs-custom+.section{
        margin-top:0
    }
}
@media (min-width:768px){
    *+.button{
        margin-top:35px
    }
}
@media (min-width:992px){
    h2+p{
        margin-top:33px
    }
    h3+p{
        margin-top:25px
    }
}
@media (min-width:1200px){
    h3+p{
        margin-top:33px
    }
}
@media (min-width:1600px){
    h2+.row{
        margin-top:120px
    }
}
.row-30{
    margin-bottom:-30px
}
.row-30:empty{
    margin-bottom:0
}
.row-30>*{
    margin-bottom:30px
}
.row-50{
    margin-bottom:-50px
}
.row-50:empty{
    margin-bottom:0
}
.row-50>*{
    margin-bottom:50px
}
.divider-2{
    display:inline-block;
    border:0;
    font-size:0;
    line-height:0;
    height:3px;
    max-width:100px;
    width:100%
}
h3+.divider-2{
    margin-top:20px
}
@media (min-width:1600px){
    h3+.divider-2{
        margin-top:40px
    }
}
.divider-default{
    background:#ddd
}
.container,.container-wide{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px;
    max-width:480px
}
@media (min-width:768px){
    .container,.container-wide{
        max-width:750px
    }
}
@media (min-width:992px){
    .container,.container-wide{
        max-width:970px
    }
}
@media (min-width:1200px){
    .container,.container-wide{
        max-width:1200px
    }
}
@media (min-width:1600px){
    .container-bigger{
        max-width:1500px
    }
}
@media (min-width:1600px){
    .container-wide{
        max-width:1600px
    }
}
@media (min-width:1800px){
    .container-wide{
        max-width:1800px
    }
}
*+.row{
    margin-top:30px
}
@media (min-width:992px){
    *+.row{
        margin-top:35px
    }
}
@media (min-width:1600px){
    *+.row{
        margin-top:50px
    }
}
*+.row-50{
    margin-top:50px
}
@media (min-width:768px){
    .row-ten>.col-md-5{
        flex:0 0 50%;
        max-width:50%
    }
    .row-ten>.col-md-8{
        flex:0 0 80%;
        max-width:80%
    }
    .row-ten>.col-md-9{
        flex:0 0 90%;
        max-width:90%
    }
}
@media (min-width:992px){
    .row-ten>.col-lg-4{
        flex:0 0 40%;
        max-width:40%
    }
    .row-ten>.col-lg-8{
        flex:0 0 80%;
        max-width:80%
    }
}
@media (min-width:1200px){
    .row-ten>.col-xl-4{
        flex:0 0 40%;
        max-width:40%
    }
    .row-ten>.col-xl-6{
        flex:0 0 60%;
        max-width:60%
    }
}
@media (min-width:1600px){
    .row-ten>.col-xxl-6{
        flex:0 0 60%;
        max-width:60%
    }
}
.bg-gray-darker .logo-inverse{
    display:none
}
@media (min-width:992px){
    .bg-gray-darker .logo-inverse{
        display:block
    }
}
.bg-gray-darker .logo-default{
    display:block
}
@media (min-width:992px){
    .bg-gray-darker .logo-default{
        display:none
    }
}
ul ul{
    padding-left:0
}
p{
    font-family:sans-serif!important;
    font-size:1.2rem!important
}
.flex-reverse{
    display:flex;
    flex-direction:row-reverse
}
